.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.shape {
  background-color: rgb(var(--color-orange));
  will-change: clip-path, transform;
}

.circle {
  stroke: rgb(var(--color-off-white));
  transform-origin: 25px 25px;
}

.path {
  stroke: rgb(var(--color-orange));
  transform-origin: 25px 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
