.main {
  background-color: rgb(var(--color-pale-white));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-16);
  text-align: center;
  min-height: calc(100vh - var(--header-height));
}

.container {
  max-width: var(--width-container);
  margin-inline: auto;
}

.title {
  font-family: var(--font-heading, "sans-serif");
  font-size: var(--font-size-display);
  line-height: var(--leading-tight);
  font-weight: 700;
  max-width: var(--width-text);
  margin-inline: auto;
  margin-bottom: var(--spacing-8);
  color: rgb(var(--color-orange));
}

.description {
  font-size: var(--font-size-xl);
  line-height: var(--leading-normal);
  color: rgb(var(--color-dark-gray));
  max-width: var(--width-text);
  margin-inline: auto;
  margin-bottom: var(--spacing-16);
}

.actions {
  display: flex;
  justify-content: center;
  gap: var(--spacing-8);
}
