.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: scaleIn 0.4s ease-out both;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.shape {
  background-color: rgb(var(--color-orange));
  will-change: clip-path, transform;
}

.circle {
  transform-origin: 25px 25px;
  animation: circleGrow 3s linear infinite;
}

.triangle {
  transform-origin: 25px 25px;
  animation: spinGrow 2s linear infinite;
}

.hexagon {
  transform-origin: 25px 25px;
  animation: spinGrowHex 2s linear infinite;
}

@keyframes circleGrow {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.25);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spinGrow {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.4);
  }
  50% {
    transform: rotate(180deg) scale(1.8);
  }
  75% {
    transform: rotate(270deg) scale(1.4);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes spinGrowHex {
  0% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(72deg) scale(1.2);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  80% {
    transform: rotate(288deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
