.ordering {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.label {
  font-size: var(--font-size-sm);
  color: rgb(var(--color-gray));
  white-space: nowrap;
}

.selectWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.select {
  appearance: none;
  padding: var(--spacing-4) var(--spacing-12) var(--spacing-4) var(--spacing-6);
  font-size: var(--font-size-md);
  color: rgb(var(--color-almost-black));
  background: rgb(var(--color-pale-white));
  border: 2px solid rgb(var(--color-pale-white));
  border-radius: var(--radius-full);
  cursor: pointer;
  min-width: 200px;
}

.select:focus {
  outline: none;
  border-color: rgb(var(--color-orange));
}

.selectIcon {
  position: absolute;
  right: var(--spacing-6);
  color: rgb(var(--color-gray));
  pointer-events: none;
}
